<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Project</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body>
    <main class="">
      <h1 class="">Blog Project</h1>
      <p>Welcome to the blog project!</p>
    </main>
  </body>
</html>
